/*HEADER*/
.top {
    height: 80px;
}
.to-home {
    height: 100%;
}
.paperella {
    height: 90%;
}
.navbar-toggler-icon {
    filter: invert(1);
}
.navbar-toggler {
    --bs-navbar-toggler-border-color: white;
}